[Unit]
Description=Frontend for Esp32Manager
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /home/USER/git/Esp32Manager/front/deploy.js
Restart=always

[Install]
WantedBy=multi-user.target
